bin/*
!bin/.gitkeep
build/*
!build/.gitkeep
!build/ints
build/ints/*
!build/ints/.gitkeep

!build/games

!build/games/pong
build/games/pong/*
!build/games/pong/.gitkeep

!build/games/snake
build/games/snake/*
!build/games/snake/.gitkeep

bochsrc.bxrc
.vscode/